/* ----------------------
        VARIABLES
---------------------- */

$font-family: "Open Sans", sans-serif;

$background-color: #FEFEFE;

$font-color: #2A3035;

$brand-color: #0F5CA3;

$brand-color--alt: #1ABC9C;

$brand-color--alt2: #FFF;