/* ----------------------
        VARIABLES
---------------------- */

$font-family: "Open Sans", sans-serif;

$background-color: #FEFEFE;

$font-color: #2A3035;

$button-color: #0F5CA3;

$button-hover: #1ABC9C;

$button-font-color: #FFF;